<div
     class="group bg-blue-200 hover:bg-blue-100 rounded-lg shadow-md p-3 grid grid-cols-[1fr_auto] grid-rows-2 relative">
    <div class="font-bold text-base text-gray-900 row-start-1 row-end-2 col-start-1 col-end-2">{{ book().name }}</div>
    <div class="text-gray-600 text-sm row-start-2 row-end-3 col-start-1 col-end-2">{{ book().author }}</div>

    <div class="flex flex-row gap-2 row-start-1 row-end-3 items-center">
        <p-button icon="pi pi-pencil"
                  aria-label="Edit"
                  [rounded]="true"
                  [text]="true"
                  severity="secondary"
                  size="small"
                  class="invisible group-hover:visible"
                  height="40" />
        <p-button icon="pi pi-trash"
                  aria-label="Delete"
                  [rounded]="true"
                  [text]="true"
                  severity="secondary"
                  size="small"
                  class="invisible group-hover:visible"
                  height="40"
                  (onClick)="handleDelete()" />
    </div>
</div>