@use 'primeicons/primeicons.css';

@plugin 'tailwindcss-primeui'; // keep plugin after the layer declaration

.app-layout {
  @layer tailwind {
  }
}

@layer primeng {
  .app-layout
    :where(
      .p-component,
      .p-inputtext,
      .p-inputwrapper,
      .p-inputnumber,
      .p-dropdown,
      .p-button,
      .p-floatlabel
    ) {
    all: revert-layer;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
