@use 'primeicons/primeicons.css';

@use 'tailwindcss';
@plugin 'tailwindcss-primeui';
@layer tailwind, primeng;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
